@model Dictionary<string, long>

<div>
    <h2>Статистика</h2>
    <div class="functional-buttom">
        @using (Ajax.BeginForm("SortStatistics", new AjaxOptions { UpdateTargetId = "table" }))
        {
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-group" data-toggle="dropdown">
                    <p id="nameOfSort" class="dropdown-group-element">Сортировать: By Name</p>
                    <span class="caret dropdown-group-element"></span>
                </button>
                <div class="dropdown-menu">
                    <div class="dropdown-item">
                        <input class="btn btn-primary" type="submit" name="typeSort" id="sort" value="byName" onclick="SetNameOfSort(this)"/>
                    </div>
                    <div class="dropdown-item">
                        <input class="btn btn-primary" type="submit" name="typeSort" id="sort" value="byTime" onclick="SetNameOfSort(this)"/>
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="table">
        @Html.Partial("TableView", Model)
    </div>
</div>
<script language="JavaScript" src="~/Scripts/MyScripts.js"></script>

