@model Dictionary<string, long>
<table class="table">
    <thead>
        <tr><th>Название задачи</th><th>Время в мс</th></tr>
    </thead>
    <tbody>
        @{ 
            int id = 0;
        }
        @foreach (var item in Model.Keys.ToArray())
        {
            id++;
            <tr>
                <td>@item</td>
                <td>
                    <div id="@id">@Html.Partial("TaskTimeView", @Model[item].ToString())</div>
                </td>
                <td>
                    @using (Ajax.BeginForm("ResetStatisticsTime", "Statistics", new AjaxOptions { UpdateTargetId = id.ToString() }))
                    {
                        <button class="btn btn-primary btn-action" name="taskName" value=@item>Сбросить время</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
