@model Dictionary<string, long>
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Статистика</h2>
    <div class="functional-buttom">
        @using (Ajax.BeginForm("SortStatistics", new AjaxOptions { UpdateTargetId = "table" }))
        {
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Режимы сортировки
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                    <div class="dropdown-item">
                        <input class="btn btn-primary" type="submit" name="typeSort" id="sort" value="byName" />
                    </div>
                    <div class="dropdown-item">
                        <input class="btn btn-primary" type="submit" name="typeSort" id="sort" value="byTime" />
                    </div>                   
                </div>
            </div>
        }
    </div>
    <div id="table">
        @Html.Partial("TableView", Model)
    </div>
</div>
